.page {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto" sans-serif;
  font-size: 15px;
  color: #403f3d;
  background: url(../img/bg2.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /*overflow-x: hidden;*/
  width: 100vw;
  height: 100vh;
}

* {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
}

table {
  border-spacing: 0;
}

/*/common-styles*/
/*header*/
.header {
  max-width: 1440px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
.header .header-title__wrapper .title {
  text-transform: uppercase;
  font-size: 32px;
  color: #000;
}
.header .nav .nav-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.header .nav .nav-panel .panel-item {
  list-style: none;
}
.header .nav .nav-panel .panel-item .panel-item__title {
  text-transform: uppercase;
  font-size: 18px;
  color: #000;
}
.header .nav .nav-panel .panel-item .stop {
  display: none;
}
.header .header-timer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.header .header-timer .timer-item {
  text-transform: uppercase;
  font-size: 18px;
  color: #000;
}

/*main container*/
.container {
  /*common styles for whole container*/
  max-width: 1440px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px 40px;
}
.container .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.attempts__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.attempts__wrapper .attempts__title,
.attempts__wrapper .attempts__amount {
  text-transform: uppercase;
  font-size: 18px;
  color: #000;
}

.game__wrapper {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  opacity: 0.8;
}
.game__wrapper .top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game__wrapper .top .game-diff {
  width: 75px;
  height: 75px;
  border-left: 1px #000 solid;
  border-top: 1px #000 solid;
}
.game__wrapper .top .game-diff #color {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 25px;
  height: 25px;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.game__wrapper .top .game-diff #color::-webkit-color-swatch {
  border-radius: 10px;
  border: 1px #000 solid;
}
.game__wrapper .top .game-diff #color::-moz-color-swatch {
  border-radius: 10px;
  border: 1px #000 solid;
}
.game__wrapper .top .game-header .header-body {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.game__wrapper .top .game-header .header-body .header-row .row-cell {
  width: 25px;
  height: 25px;
  border: 1px #000 solid;
  background-color: #9e9e9e;
  cursor: pointer;
}
.game__wrapper
  .top
  .game-header
  .header-body
  .header-row
  .row-cell
  .cell-title {
  text-transform: uppercase;
  font-size: 18px;
  color: #000;
  text-align: center;
}
.game__wrapper .top .game-header .header-body .header-row .row-cell:hover {
  opacity: 0.5;
}

.left {
  display: flex;
  justify-content: start;
  align-items: start;
}
.left .game-aside .aside-body {
  display: flex;
  flex-direction: column;
}
.left .game-aside .aside-body .aside-column .column-cell {
  width: 25px;
  height: 25px;
  border: 1px #000 solid;
  background-color: #9e9e9e;
  cursor: pointer;
}
.left .game-aside .aside-body .aside-column .column-cell .cell-title__column {
  text-transform: uppercase;
  font-size: 18px;
  color: #000;
  text-align: center;
}
.left .game-aside .aside-body .aside-column .column-cell:hover {
  opacity: 0.5;
}
.left .game-field .field-body .body-row .row-cell__body {
  width: 25px;
  height: 25px;
  border: 1px #000 solid;
  cursor: pointer;
}
.left .game-field .field-body .body-row .row-cell__body:hover {
  opacity: 0.5;
}

.watch {
  display: none;
}

.airplain {
  display: none;
}

/*modal window*/
.game-topics__wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.game-topics__wrapper .topics__wrapper {
  max-width: 1440px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-topics__wrapper .topics__wrapper .topics {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
}

.topics-hidden {
  visibility: hidden;
}

.topics-animation_open {
  animation: open 1s;
}

@keyframes open {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}
.topics-animation_close {
  animation: close 1s;
}

@keyframes close {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
} /*# sourceMappingURL=style.css.map */
