.page {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto" sans-serif;
  font-size: 15px;
  color: #403f3d;

  background: url(../img/bg2.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /*overflow-x: hidden;*/
  width: 100vw;
  height: 100vh;
}

* {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul,
li {
  padding: 0;
  margin: 0;
}
table {
  border-spacing: 0;
}
/*/common-styles*/

/*header*/
.page-header {
  max-width: 1440px;
  width: 100%;
  height: fit-content;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 40px 20px;
}

.header-title {
  width: fit-content;
  height: fit-content;
  text-align: center;
  .title {
    font-size: 36px;
    font-weight: 700;
    font-family: "Roboto" sans-serif;
    text-transform: uppercase;
    color: #000;
  }
}

.header-nav {
  width: fit-content;
  height: fit-content;
  .nav__wrapper {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    .nav-item {
      width: fit-content;
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      position: relative;
      .item-title {
        font-size: 24px;
        font-weight: 400;
        font-family: "Roboto" sans-serif;
        text-transform: uppercase;
        color: #000;
        text-align: center;
      }

      .close_light {
        display: block;
      }

      .close_dark {
        display: none;
      }
    }
  }
}
/*dropdown difficulty*/
.difficulty-dropdown {
  max-width: 217px;
  width: 100%;
  min-height: 70px; // make it adaptive
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 60px;
  background-color: #eaeaea;
  border-radius: 20px;
  opacity: 0.7;

  .dropdown-item__difficulty {
    width: 100%;
    height: fit-content;
    list-style-type: none;
    cursor: pointer;
    .dropdown-item__title {
      font-size: 15px;
      font-weight: 400;
      text-align: center;
      font-family: "Roboto" sans-serif;
      text-transform: uppercase;
      color: #000;
    }
  }
}
/*dropdown result*/
.results-dropdown {
  max-width: 217px;
  width: 100%;
  min-height: 70px; //make it adaptive
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 60px;
  background-color: #eaeaea;
  border-radius: 20px;
  opacity: 0.7;
  .dropdown-item__results {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    .item-picture__wrapper {
      .item-picture {
        font-size: 15px;
        font-weight: 400;
        font-family: "Roboto" sans-serif;
        text-transform: uppercase;
        color: #000;
      }
    }
  }

  .item-finish--time__wrapper {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    .item-finish {
      font-size: 15px;
      font-weight: 400;
      font-family: "Roboto" sans-serif;
      text-transform: uppercase;
      color: #000;
    }
  }
}

.hide_dropdown {
  display: none;
}

.animation_close_dropdown {
  animation-name: dropDownListClose;
  animation-duration: 1s;
}
@keyframes dropDownListClose {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-300%);
  }
}

.animation_open_dropdown {
  animation-name: dropDownListOpen;
  animation-duration: 1s;
}

@keyframes dropDownListOpen {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0);
  }
}

.header-timer--theme {
  width: fit-content;
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  .timer-title {
    font-size: 24px;
    font-weight: 400;
    font-family: "Roboto" sans-serif;
    text-transform: uppercase;
    color: #000;
  }
}

/*main*/
.main {
  max-width: 1440px;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  .main-left__part,
  .main-right__part {
    width: 50%;
    height: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
  }
}
/*main-right__part*/

/*game structure*/
.right-game--field {
  width: fit-content;
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #eaeaea;
  border-radius: 10px;
  opacity: 0.7;
  transition: all 0.5s ease;
}

.right-game--field:hover {
  opacity: 1;
  transform: translateX(-150px) scale(110%);
}

/*top part of the game field*/
.game__top {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  .game-type {
    width: 112px;
    height: 112px;
    border: 3px solid #000;
    border-radius: 20px;
  }

  .game-numbers__rows {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 3px;
    border: 3px solid #000;
    border-radius: 20px;
    padding: 5px;
    .numbers-row {
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3px;
      .row-cell {
        width: 30px;
        height: 30px;
        border: 1px solid #000;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
}

/*bottom part of the game field*/
.game__bottom {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
/*left side*/
.game-numbers__column {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 5px;
  border: 3px solid #000;
  border-radius: 20px;
  .number-column {
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    .column-cell {
      width: 30px;
      height: 30px;
      border: 1px solid #000;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}

.game-cells {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 5px;
  border: 3px solid #000;
  border-radius: 20px;
  .cells-row {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    .row-cell {
      width: 30px;
      height: 30px;
      border: 1px solid #000;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}

/*modla window*/

.modal-win--bg__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  .win-window__container {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .window {
      max-width: 350px;
      width: 100%;
      max-height: 350px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      background-color: #eaeaea;
      border-radius: 20px;
      opacity: 0.8;
      .window-title__win {
        font-size: 28px;
        font-weight: 400;
        font-family: "Roboto" sans-serif;
        text-transform: uppercase;
        color: #000;
      }
      .window-btn {
        width: fit-content;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #403f3d;
        border-radius: 20px;
        padding: 0 10px;
        .btn-title__win {
          font-size: 18px;
          font-weight: 400;
          font-family: "Roboto" sans-serif;
          text-transform: uppercase;
          color: #eaeaea;
        }
      }
    }
  }
}

.hide-modal-win {
  display: none;
}

.modal-win-open_animation {
  animation: winWindowOpen 1s ease;
}

@keyframes winWindowOpen {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.modal-win-close_animation {
  animation: winWindowClose 1s ease;
}

@keyframes winWindowClose {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
