/*header*/
.page-header {
  max-width: 1440px;
  width: 100%;
  height: fit-content;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 40px 20px;
}

.header-title {
  width: fit-content;
  height: fit-content;
  text-align: center;
  .title {
    font-size: 32px;
    font-weight: 700;
    font-family: "Roboto" sans-serif;
    text-transform: uppercase;
    color: #000;
  }
}

.header-nav {
  width: fit-content;
  height: fit-content;
  .nav__wrapper {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    .nav-item {
      width: fit-content;
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style-type: none;

      position: relative;
      .item-title {
        font-size: 18px;
        font-weight: 400;
        font-family: "Roboto" sans-serif;
        text-transform: uppercase;
        color: #000;
        text-align: center;
      }

      .close_light {
        display: block;
      }

      .close_dark {
        display: none;
      }
    }
  }
}
.header-timer--theme {
  width: fit-content;
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  .timer-title {
    font-size: 18px;
    font-weight: 700;
    font-family: "Roboto" sans-serif;
    text-transform: uppercase;
    color: #000;
  }
}
